## NFL Pro bowler Classification Model ##

This project aims do develop a robust classification model that predicts whether or not Wide Receivers (WR), Running Backs (RB), Tight Ends (TE), and Quarterbacks (QB) in the National Football League (NFL) will be selected for the Pro Bowl. The Pro Bowl is an annual NFL event where top NFL players showcase their skills for the entertainment of the fans. Receiving a Pro Bowl invitation recognizes a playerâ€™s top performance relative to their peers.

This notebook compares the results of decision tree classifiers and random forest classifiers to predict a players Pro Bowl status.

For the purpose of the Data Analyst application for Central Coast Community Energy, only the Wide Reveiver prediction models are shown.

In [1]:
import requests
from bs4 import BeautifulSoup
import json
import re
import pandas as pd
import numpy as np

<h1>Data Acquisition</h1>

Please note: The volume of data scraped from Sports Reference and ESPN exceeds daily API request limits. The data acquisition portion of this project was split over multiple days, and won't be able to run in a single session.

<h2>Sports Reference</h2>

In [ ]:
years = [2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019]

**Quarterbacks**

In [ ]:
url = "https://www.pro-football-reference.com/years/2000/passing.htm"
pass_df = pd.read_html(url)[0]
pass_df['Year'] = 2000
for year in years:
    temp_pass_df = pd.DataFrame()
    url = f"https://www.pro-football-reference.com/years/{year}/passing.htm"
    data = pd.read_html(url)
    temp_pass_df = temp_pass_df.append(data)
    temp_pass_df['Year'] = year
    pass_df = pass_df.append(temp_pass_df)
pass_df = pass_df.reset_index(drop=True)
# pass_df.to_csv(r'C:\Users\andre\OneDrive\Desktop\USC\DSCI550\Project\Data\Passing2012-2019.csv')
pass_df

**Rushing**

In [ ]:
url = "https://www.pro-football-reference.com/years/2000/rushing.htm"
rush_df = pd.read_html(url, header=1)[0]
rush_df['Year'] = 2000
for year in years:
    temp_rush_df = pd.DataFrame()
    url = f"https://www.pro-football-reference.com/years/{year}/rushing.htm"
    data = pd.read_html(url, header=1)
    temp_rush_df = temp_rush_df.append(data)
    temp_rush_df['Year'] = year
    rush_df = rush_df.append(temp_rush_df)
rush_df = rush_df.reset_index(drop=True)
#rush_df.to_csv(r'C:\Users\andre\OneDrive\Desktop\USC\DSCI550\Project\Data\Rushing2000-2019.csv')
rush_df

**Receiving**

In [ ]:
url = "https://www.pro-football-reference.com/years/2000/receiving.htm"
rec_df = pd.read_html(url)[0]
rec_df['Year'] = 2000
for year in years:
    temp_rec_df = pd.DataFrame()
    url = f"https://www.pro-football-reference.com/years/{year}/receiving.htm"
    data = pd.read_html(url)
    temp_rec_df = temp_rec_df.append(data)
    temp_rec_df['Year'] = year
    rec_df = rec_df.append(temp_rec_df)
rec_df = rec_df.reset_index(drop=True)
# rec_df.to_csv(r'C:\Users\andre\OneDrive\Desktop\USC\DSCI550\Project\Data\Receiving2012-2019.csv')
rec_df

<h2>ESPN</h2>

In [ ]:
#Split years in an effort not to max out requests
years0 = [2001,2002,2003,2004]
years01 = [2005,2006,2007,2008,2009]
years02 = [2010,2011,2012]
years1 = [2013,2014,2015,2016,2017]
years2 = [2018,2019]

<h3>Passing</h3>

In [ ]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [ ]:
url = "https://www.espn.com/nfl/stats/player/_/stat/passing/season/2000/seasontype/2?limit=1000"
espn_pass_df_p1 = pd.read_html(url)[0]
espn_pass_df_p2 = pd.read_html(url)[1]
espn_pass_df = pd.merge(espn_pass_df_p1, espn_pass_df_p2, left_index=True, right_index=True)

espn_pass_df['Year*'] = 2000

for year in years0:
    temp_pass_df = pd.DataFrame()
    url = f"https://www.espn.com/nfl/stats/player/_/stat/passing/season/{year}/seasontype/2?limit=1000"
    temp_pass_df_p1 = pd.read_html(url)[0]
    temp_pass_df_p2 = pd.read_html(url)[1]
    temp_pass_df = pd.merge(temp_pass_df_p1, temp_pass_df_p2, left_index=True, right_index=True)
    temp_pass_df['Year*'] = year
    espn_pass_df = espn_pass_df.append(temp_pass_df)
espn_pass_df = espn_pass_df.reset_index(drop=True)

In [ ]:
for year in years01:
    temp_pass_df = pd.DataFrame()
    url = f"https://www.espn.com/nfl/stats/player/_/stat/passing/season/{year}/seasontype/2?limit=1000"
    temp_pass_df_p1 = pd.read_html(url)[0]
    temp_pass_df_p2 = pd.read_html(url)[1]
    temp_pass_df = pd.merge(temp_pass_df_p1, temp_pass_df_p2, left_index=True, right_index=True)
    temp_pass_df['Year*'] = year
    espn_pass_df = espn_pass_df.append(temp_pass_df)
espn_pass_df = espn_pass_df.reset_index(drop=True)

In [ ]:
for year in years02:
    temp_pass_df = pd.DataFrame()
    url = f"https://www.espn.com/nfl/stats/player/_/stat/passing/season/{year}/seasontype/2?limit=1000"
    temp_pass_df_p1 = pd.read_html(url)[0]
    temp_pass_df_p2 = pd.read_html(url)[1]
    temp_pass_df = pd.merge(temp_pass_df_p1, temp_pass_df_p2, left_index=True, right_index=True)
    temp_pass_df['Year*'] = year
    espn_pass_df = espn_pass_df.append(temp_pass_df)
espn_pass_df = espn_pass_df.reset_index(drop=True)

In [ ]:
for year in years1:
    temp_pass_df = pd.DataFrame()
    url = f"https://www.espn.com/nfl/stats/player/_/stat/passing/season/{year}/seasontype/2?limit=1000"
    temp_pass_df_p1 = pd.read_html(url)[0]
    temp_pass_df_p2 = pd.read_html(url)[1]
    temp_pass_df = pd.merge(temp_pass_df_p1, temp_pass_df_p2, left_index=True, right_index=True)
    temp_pass_df['Year*'] = year
    espn_pass_df = espn_pass_df.append(temp_pass_df)
espn_pass_df = espn_pass_df.reset_index(drop=True)

In [ ]:
for year in years2:
    temp_pass_df = pd.DataFrame()
    
    url = f"https://www.espn.com/nfl/stats/player/_/stat/passing/season/{year}/seasontype/2?limit=1000"
    temp_pass_df_p1 = pd.read_html(url)[0]
    temp_pass_df_p2 = pd.read_html(url)[1]
    temp_pass_df = pd.merge(temp_pass_df_p1, temp_pass_df_p2, left_index=True, right_index=True)
    temp_pass_df['Year'] = year
    espn_pass_df = espn_pass_df.append(temp_pass_df)
espn_pass_df = espn_pass_df.reset_index(drop=True)
# espn_passing_df.to_csv(r'C:\Users\andre\OneDrive\Desktop\USC\DSCI550\Project\Data\ESPN\Passing2000-2019.csv')
espn_pass_df

<h3>Rushing</h3>

In [ ]:
url = "https://www.espn.com/nfl/stats/player/_/stat/rushing/season/2000/seasontype/2?limit=1000"
espn_rush_df_p1 = pd.read_html(url)[0]
espn_rush_df_p2 = pd.read_html(url)[1]
espn_rush_df = pd.merge(espn_rush_df_p1, espn_rush_df_p2, left_index=True, right_index=True)

espn_rush_df['Year*'] = 2000

for year in years0:
    temp_rush_df = pd.DataFrame()
    url = f"https://www.espn.com/nfl/stats/player/_/stat/rushing/season/{year}/seasontype/2?limit=1000"
    temp_rush_df_p1 = pd.read_html(url)[0]
    temp_rush_df_p2 = pd.read_html(url)[1]
    temp_rush_df = pd.merge(temp_rush_df_p1, temp_rush_df_p2, left_index=True, right_index=True)
    temp_rush_df['Year*'] = year
    espn_rush_df = espn_rush_df.append(temp_rush_df)
espn_rush_df = espn_rush_df.reset_index(drop=True)

In [ ]:
for year in years01:
    temp_rush_df = pd.DataFrame()
    url = f"https://www.espn.com/nfl/stats/player/_/stat/rushing/season/{year}/seasontype/2?limit=1000"
    temp_rush_df_p1 = pd.read_html(url)[0]
    temp_rush_df_p2 = pd.read_html(url)[1]
    temp_rush_df = pd.merge(temp_rush_df_p1, temp_rush_df_p2, left_index=True, right_index=True)
    temp_rush_df['Year*'] = year
    espn_rush_df = espn_rush_df.append(temp_rush_df)
    print(year)
espn_rush_df = espn_rush_df.reset_index(drop=True)

In [ ]:
for year in years02:
    temp_rush_df = pd.DataFrame()
    url = f"https://www.espn.com/nfl/stats/player/_/stat/rushing/season/{year}/seasontype/2?limit=1000"
    temp_rush_df_p1 = pd.read_html(url)[0]
    temp_rush_df_p2 = pd.read_html(url)[1]
    temp_rush_df = pd.merge(temp_rush_df_p1, temp_rush_df_p2, left_index=True, right_index=True)
    temp_rush_df['Year*'] = year
    espn_rush_df = espn_rush_df.append(temp_rush_df)
    print(year)
espn_rush_df = espn_rush_df.reset_index(drop=True)

In [ ]:
for year in years1:
    temp_rush_df = pd.DataFrame()
    url = f"https://www.espn.com/nfl/stats/player/_/stat/rushing/season/{year}/seasontype/2?limit=1000"
    temp_rush_df_p1 = pd.read_html(url)[0]
    temp_rush_df_p2 = pd.read_html(url)[1]
    temp_rush_df = pd.merge(temp_rush_df_p1, temp_rush_df_p2, left_index=True, right_index=True)
    temp_rush_df['Year*'] = year
    espn_rush_df = espn_rush_df.append(temp_rush_df)
    print(year)
espn_rush_df = espn_rush_df.reset_index(drop=True)

In [ ]:
for year in years2:
    temp_rush_df = pd.DataFrame()
    
    url = f"https://www.espn.com/nfl/stats/player/_/stat/rushing/season/{year}/seasontype/2?limit=1000"
    temp_rush_df_p1 = pd.read_html(url)[0]
    temp_rush_df_p2 = pd.read_html(url)[1]
    temp_rush_df = pd.merge(temp_rush_df_p1, temp_rush_df_p2, left_index=True, right_index=True)
    temp_rush_df['Year'] = year
    espn_rush_df = espn_rush_df.append(temp_rush_df)
espn_rush_df = espn_rush_df.reset_index(drop=True)
# espn_rushing_df.to_csv(r'C:\Users\andre\OneDrive\Desktop\USC\DSCI550\Project\Data\ESPN\Rushing2010-2019.csv')
espn_rush_df

<h3>Receiving</h3>

In [ ]:
url = "https://www.espn.com/nfl/stats/player/_/stat/receiving/season/2000/seasontype/2?limit=1000"
espn_rec_df_p1 = pd.read_html(url)[0]
espn_rec_df_p2 = pd.read_html(url)[1]
espn_rec_df = pd.DataFrame()
espn_rec_df = pd.merge(espn_rec_df_p1, espn_rec_df_p2, left_index=True, right_index=True)

espn_rec_df['Year*'] = 2000

for year in years0:
    temp_rec_df = pd.DataFrame()
    url = f"https://www.espn.com/nfl/stats/player/_/stat/receiving/season/{year}/seasontype/2?limit=1000"
    temp_rec_df_p1 = pd.read_html(url)[0]
    temp_rec_df_p2 = pd.read_html(url)[1]
    temp_rec_df = pd.merge(temp_rec_df_p1, temp_rec_df_p2, left_index=True, right_index=True)
    temp_rec_df['Year*'] = year
    espn_rec_df = espn_rec_df.append(temp_rec_df)
    print(year)
espn_rec_df = espn_rec_df.reset_index(drop=True)

In [ ]:
for year in years01:
    temp_rec_df = pd.DataFrame()
    url = f"https://www.espn.com/nfl/stats/player/_/stat/receiving/season/{year}/seasontype/2?limit=1000"
    temp_rec_df_p1 = pd.read_html(url)[0]
    temp_rec_df_p2 = pd.read_html(url)[1]
    temp_rec_df = pd.merge(temp_rec_df_p1, temp_rec_df_p2, left_index=True, right_index=True)
    temp_rec_df['Year*'] = year
    espn_rec_df = espn_rec_df.append(temp_rec_df)
    print(year)
espn_rec_df = espn_rec_df.reset_index(drop=True)

In [ ]:
for year in years02:
    temp_rec_df = pd.DataFrame()
    url = f"https://www.espn.com/nfl/stats/player/_/stat/receiving/season/{year}/seasontype/2?limit=1000"
    temp_rec_df_p1 = pd.read_html(url)[0]
    temp_rec_df_p2 = pd.read_html(url)[1]
    temp_rec_df = pd.merge(temp_rec_df_p1, temp_rec_df_p2, left_index=True, right_index=True)
    temp_rec_df['Year*'] = year
    espn_rec_df = espn_rec_df.append(temp_rec_df)
    print(year)
espn_rec_df = espn_rec_df.reset_index(drop=True)

In [ ]:
for year in years1:
    temp_rec_df = pd.DataFrame()
    url = f"https://www.espn.com/nfl/stats/player/_/stat/receiving/season/{year}/seasontype/2?limit=1000"
    temp_rec_df_p1 = pd.read_html(url)[0]
    temp_rec_df_p2 = pd.read_html(url)[1]
    temp_rec_df = pd.merge(temp_rec_df_p1, temp_rec_df_p2, left_index=True, right_index=True)
    temp_rec_df['Year*'] = year
    espn_rec_df = espn_rec_df.append(temp_rec_df)
    print(year)
espn_rec_df = espn_rec_df.reset_index(drop=True)

In [ ]:
for year in years2:
    temp_rec_df = pd.DataFrame()
    url = f"https://www.espn.com/nfl/stats/player/_/stat/receiving/season/{year}/seasontype/2?limit=1000"
    temp_rec_df_p1 = pd.read_html(url)[0]
    temp_rec_df_p2 = pd.read_html(url)[1]
    temp_rec_df = pd.merge(temp_rec_df_p1, temp_rec_df_p2, left_index=True, right_index=True)
    temp_rec_df['Year'] = year
    espn_rec_df = espn_rec_df.append(temp_rec_df)
espn_rec_df = espn_rec_df.reset_index(drop=True)
# espn_receiving_df.to_csv(r'C:\Users\andre\OneDrive\Desktop\USC\DSCI550\Project\Data\ESPNReceiving2012-2019.csv')
espn_rec_df

<h1>Data Cleaning</h1>

<h2>ESPN</h2>
<h3>Passing</h3>

In [3]:
for index, row in espn_pass_df.iterrows():
    espn_pass_df.loc[index, 'Name_Adj'] = re.findall(r"(.+?)[A-Z]+$",row['Name'])[0]
    espn_pass_df.loc[index, 'Tm_Adj'] = re.findall(r"[A-Z]+$",row['Name'])[0]
espn_pass_df

,Unnamed: 0,RK,Name,POS,GP,CMP,ATT,CMP%,YDS,AVG,...,LNG,TD,INT,SACK,SYL,QBR,RTG,Year*,Name_Adj,Tm_Adj
0,0,1,Peyton ManningIND,QB,16,357,571,62.5,4413,7.7,...,78,33,15,20,131,NaN,94.7,2000,Peyton Manning,IND
1,1,2,Jeff GarciaSF,QB,16,355,561,63.3,4278,7.6,...,69,31,10,24,155,NaN,97.6,2000,Jeff Garcia,SF
2,2,3,Elvis GrbacKC,QB,15,326,547,59.6,4169,7.6,...,81,28,14,29,213,NaN,89.9,2000,Elvis Grbac,KC
3,3,4,Daunte CulpepperMIN,QB,16,297,474,62.7,3937,8.3,...,78,33,16,34,181,NaN,98.0,2000,Daunte Culpepper,MIN
4,4,5,Brett FavreGB,QB,16,338,580,58.3,3812,6.6,...,67,20,16,33,236,NaN,78.0,2000,Brett Favre,GB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2048,2048,91,Kareem HuntCLE,RB,8,0,0,0.0,0,0.0,...,0,0,0,1,8,0.0,0.0,2019,Kareem Hunt,CLE
2049,2049,91,Christian McCaffreyCAR,RB,16,0,2,0.0,0,0.0,...,0,0,0,0,0,0.2,39.6,2019,Christian McCaffrey,CAR
2050,2050,91,Preston WilliamsMIA,WR,8,0,0,0.0,0,0.0,...,0,0,0,1,1,0.7,0.0,2019,Preston Williams,MIA
2051,2051,91,Steven SimsWSH,WR,16,0,1,0.0,0,0.0,...,0,0,0,0,0,NaN,39.6,2019,Steven Sims,WSH
2052,2052,106,Sam KochBAL,P,16,1,1,100.0,-2,-2.0,...,-2,0,0,0,0,100.0,79.2,2019,Sam Koch,BAL

<h3>Rushing</h3>

In [4]:
for index, row in espn_rush_df.iterrows():
    espn_rush_df.loc[index, 'Name_Adj'] = re.findall(r"(.+?)[A-Z]+$",row['Name'])[0]
    espn_rush_df.loc[index, 'Tm_Adj'] = re.findall(r"[A-Z]+$",row['Name'])[0]
espn_rush_df

,Unnamed: 0,RK,Name,POS,GP,ATT,YDS,AVG,LNG,BIG,TD,YDS/G,FUM,LST,FD,Year*,Name_Adj,Tm_Adj
0,0,1,Edgerrin JamesIND,RB,16,387,1709,4.4,30,9,13,106.8,5,5,99,2000,Edgerrin James,IND
1,1,2,Robert SmithMIN,RB,16,295,1521,5.2,72,11,7,95.1,4,1,63,2000,Robert Smith,MIN
2,2,3,Eddie GeorgeTEN,RB,16,403,1509,3.7,35,4,14,94.3,5,3,78,2000,Eddie George,TEN
3,3,4,Mike AndersonDEN,RB,16,297,1487,5.0,80,12,15,92.9,4,3,76,2000,Mike Anderson,DEN
4,4,5,Corey DillonCIN,RB,16,315,1435,4.6,80,12,7,89.7,4,3,66,2000,Corey Dillon,CIN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7630,7630,336,Tim BoyleGB,QB,3,5,-7,-1.4,0,0,0,-2.3,0,0,0,2019,Tim Boyle,GB
7631,7631,338,Jordan BerryPIT,P,16,2,-8,-4.0,0,0,0,-0.5,3,2,0,2019,Jordan Berry,PIT
7632,7632,339,Blake BortlesLAR,QB,3,2,-9,-4.5,1,0,0,-3.0,0,0,0,2019,Blake Bortles,LAR
7633,7633,339,Michael ThomasNO,WR,16,1,-9,-9.0,-9,0,0,-0.6,0,0,0,2019,Michael Thomas,NO
7634,7634,341,Noah FantDEN,TE,16,3,-12,-4.0,-2,0,0,-0.8,0,0,0,2019,Noah Fant,DEN

<h3>Receiving</h3>

In [5]:
for index, row in espn_rec_df.iterrows():
    espn_rec_df.loc[index, 'Name_Adj'] = re.findall(r"(.+?)[A-Z]+$",row['Name'])[0]
    espn_rec_df.loc[index, 'Tm_Adj'] = re.findall(r"[A-Z]+$",row['Name'])[0]
espn_rec_df

,Unnamed: 0.1,Unnamed: 0,RK,Name,POS,GP,REC,TGTS,YDS,AVG,...,LNG,BIG,YDS/G,FUM,LST,YAC,FD,Year*,Name_Adj,Tm_Adj
0,0,0.0,1,Torry HoltSTL,WR,16,82,0,1635,19.9,...,85,30,102.2,2,2,0,60,2000,Torry Holt,STL
1,1,1.0,2,Rod SmithDEN,WR,16,100,0,1602,16.0,...,49,30,100.1,1,1,0,77,2000,Rod Smith,DEN
2,2,2.0,3,Isaac BruceSTL,WR,16,87,0,1471,16.9,...,78,24,91.9,1,1,0,66,2000,Isaac Bruce,STL
3,3,3.0,4,Terrell OwensSF,WR,14,97,0,1451,15.0,...,69,23,103.6,2,1,0,65,2000,Terrell Owens,SF
4,4,4.0,5,Randy MossMIN,WR,16,77,0,1437,18.7,...,78,25,89.8,2,0,0,58,2000,Randy Moss,MIN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9243,9243,NaN,518,Kaleb McGaryATL,OT,16,1,1,-3,-3.0,...,-3,0,-0.2,0,0,-3,0,2019,Kaleb McGary,ATL
9244,9244,NaN,519,Andy DaltonCIN,QB,13,1,1,-4,-4.0,...,-4,0,-0.3,0,0,4,0,2019,Andy Dalton,CIN
9245,9245,NaN,519,Quincy EnunwaNYJ,WR,1,1,3,-4,-4.0,...,8,0,-4.0,1,1,-4,0,2019,Quincy Enunwa,NYJ
9246,9246,NaN,519,Garrett BradburyMIN,C,16,1,1,-4,-4.0,...,-4,0,-0.3,0,0,2,0,2019,Garrett Bradbury,MIN
9247,9247,NaN,522,Wyatt TellerCLE,G,15,1,1,-5,-5.0,...,-5,0,-0.3,0,0,-1,0,2019,Wyatt Teller,CLE

<h2>Sports Reference</h2>
<h3>Passing</h3>

In [6]:
# Remove header rows
pass_df = pass_df[pass_df['Rk'] != 'Rk']

In [8]:
pass_df.columns

Index(['Unnamed: 0', 'Rk', 'Player', 'Tm', 'Age', 'Pos', 'G', 'GS', 'QBrec',
       'Cmp', 'Att', 'Cmp%', 'Yds', 'TD', 'TD%', 'Int', 'Int%', '1D', 'Lng',
       'Y/A', 'AY/A', 'Y/C', 'Y/G', 'Rate', 'Sk', 'Yds.1', 'Sk%', 'NY/A',
       'ANY/A', '4QC', 'GWD', 'Year', 'QBR', 'Player*'],
      dtype='object')

In [9]:
for index, row in pass_df.iterrows():
    playerName = re.findall(r"[A-Z|a-z|\s|'|.]+", row['Player'])[0]
    pass_df.loc[index, 'Player*'] = playerName
    
    ##
    pass_df.loc[index, 'PlayerYearTm*'] = playerName + str(row['Year']) + str(row['Tm'])
    ##
    
    # try to set position to uppercase
    try:
        pass_df.loc[index, 'Pos*'] = re.findall(r"[A-Z|a-z]+", row['Pos'])[0].upper()
    # if position is nan...
    except:
        # try to use the player name to get his position from the espn table
        try:
            pass_df.loc[index, 'Pos*'] = espn_pass_df.loc[(espn_pass_df['Name*'] == playerName)]['POS'].values[0]
        # otherwise set the adjusted position value to be nan
        except:
            pass_df.loc[index, 'Pos*'] = np.nan
# remove the rows where the adjusted position value is nan
pass_df = pass_df.dropna(subset=['Pos*'])
pass_df = pass_df.reset_index(drop=True)
pass_df

,Unnamed: 0,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,...,Sk%,NY/A,ANY/A,4QC,GWD,Year,QBR,Player*,PlayerYearTm*,Pos*
0,0,1,Peyton Manning*,IND,24,QB,16,16,10-6-0,357,...,3.4,7.25,7.22,2,3,2000,NaN,Peyton Manning,Peyton Manning2000IND,QB
1,1,2,Jeff Garcia*,SFO,30,QB,16,16,6-10-0,355,...,4.1,7.05,7.34,NaN,NaN,2000,NaN,Jeff Garcia,Jeff Garcia2000SFO,QB
2,2,3,Elvis Grbac*,KAN,30,QB,15,15,7-8-0,326,...,5,6.87,6.75,3,3,2000,NaN,Elvis Grbac,Elvis Grbac2000KAN,QB
3,3,4,Daunte Culpepper*,MIN,23,QB,16,16,11-5-0,297,...,6.7,7.39,7.28,3,4,2000,NaN,Daunte Culpepper,Daunte Culpepper2000MIN,QB
4,4,5,Brett Favre,GNB,31,QB,16,16,9-7-0,338,...,5.4,5.83,5.31,0,4,2000,NaN,Brett Favre,Brett Favre2000GNB,QB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1969,100,98,Christian McCaffrey*+,CAR,23,RB,16,16,NaN,0,...,0,0.00,0.00,NaN,NaN,2019,0.2,Christian McCaffrey,Christian McCaffrey2019CAR,RB
1970,101,99,Zach Pascal,IND,25,WR,16,13,NaN,0,...,0,0.00,0.00,NaN,NaN,2019,0.8,Zach Pascal,Zach Pascal2019IND,WR
1971,102,100,Bilal Powell,NYJ,31,rb,13,1,NaN,0,...,0,0.00,0.00,NaN,NaN,2019,1.9,Bilal Powell,Bilal Powell2019NYJ,RB
1972,103,101,Steven Sims,WAS,22,wr,16,2,NaN,0,...,0,0.00,0.00,NaN,NaN,2019,NaN,Steven Sims,Steven Sims2019WAS,WR
1973,104,102,Sam Koch,BAL,37,p,16,0,NaN,1,...,0,-2.00,-2.00,NaN,NaN,2019,100.0,Sam Koch,Sam Koch2019BAL,P

In [10]:
pass_df.columns

Index(['Unnamed: 0', 'Rk', 'Player', 'Tm', 'Age', 'Pos', 'G', 'GS', 'QBrec',
       'Cmp', 'Att', 'Cmp%', 'Yds', 'TD', 'TD%', 'Int', 'Int%', '1D', 'Lng',
       'Y/A', 'AY/A', 'Y/C', 'Y/G', 'Rate', 'Sk', 'Yds.1', 'Sk%', 'NY/A',
       'ANY/A', '4QC', 'GWD', 'Year', 'QBR', 'Player*', 'PlayerYearTm*',
       'Pos*'],
      dtype='object')

In [11]:
originalColumns = ['Cmp', 'Att',
       'Cmp%', 'Yds', 'TD', 'TD%', 'Int', 'Int%', '1D', 'Lng', 'Y/A', 'AY/A',
       'Y/C', 'Y/G', 'Rate', 'QBR', 'Sk', 'Yds.1', 'Sk%', 'NY/A', 'ANY/A',
       '4QC', 'GWD']
adjustedColumns_Pass = []
for col in originalColumns:
    adjustedColumns_Pass.append('Pass_'+ col)
pass_df = pass_df.rename(columns=dict(zip(originalColumns,adjustedColumns_Pass)))
pass_df = pass_df.reset_index(drop=True)
pass_df

,Unnamed: 0,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Pass_Cmp,...,Pass_Sk%,Pass_NY/A,Pass_ANY/A,Pass_4QC,Pass_GWD,Year,Pass_QBR,Player*,PlayerYearTm*,Pos*
0,0,1,Peyton Manning*,IND,24,QB,16,16,10-6-0,357,...,3.4,7.25,7.22,2,3,2000,NaN,Peyton Manning,Peyton Manning2000IND,QB
1,1,2,Jeff Garcia*,SFO,30,QB,16,16,6-10-0,355,...,4.1,7.05,7.34,NaN,NaN,2000,NaN,Jeff Garcia,Jeff Garcia2000SFO,QB
2,2,3,Elvis Grbac*,KAN,30,QB,15,15,7-8-0,326,...,5,6.87,6.75,3,3,2000,NaN,Elvis Grbac,Elvis Grbac2000KAN,QB
3,3,4,Daunte Culpepper*,MIN,23,QB,16,16,11-5-0,297,...,6.7,7.39,7.28,3,4,2000,NaN,Daunte Culpepper,Daunte Culpepper2000MIN,QB
4,4,5,Brett Favre,GNB,31,QB,16,16,9-7-0,338,...,5.4,5.83,5.31,0,4,2000,NaN,Brett Favre,Brett Favre2000GNB,QB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1969,100,98,Christian McCaffrey*+,CAR,23,RB,16,16,NaN,0,...,0,0.00,0.00,NaN,NaN,2019,0.2,Christian McCaffrey,Christian McCaffrey2019CAR,RB
1970,101,99,Zach Pascal,IND,25,WR,16,13,NaN,0,...,0,0.00,0.00,NaN,NaN,2019,0.8,Zach Pascal,Zach Pascal2019IND,WR
1971,102,100,Bilal Powell,NYJ,31,rb,13,1,NaN,0,...,0,0.00,0.00,NaN,NaN,2019,1.9,Bilal Powell,Bilal Powell2019NYJ,RB
1972,103,101,Steven Sims,WAS,22,wr,16,2,NaN,0,...,0,0.00,0.00,NaN,NaN,2019,NaN,Steven Sims,Steven Sims2019WAS,WR
1973,104,102,Sam Koch,BAL,37,p,16,0,NaN,1,...,0,-2.00,-2.00,NaN,NaN,2019,100.0,Sam Koch,Sam Koch2019BAL,P

<h3>Rushing</h3>

In [12]:
# Remove header rows
rush_df = rush_df[rush_df['Rk'] != 'Rk']

In [13]:
rush_df.columns

Index(['Unnamed: 0', 'Rk', 'Player', 'Tm', 'Age', 'Pos', 'G', 'GS', 'Att',
       'Yds', 'TD', '1D', 'Lng', 'Y/A', 'Y/G', 'Fmb', 'Year'],
      dtype='object')

In [14]:
for index, row in rush_df.iterrows():
    playerName = re.findall(r"[A-Z|a-z|\s|'|.]+", row['Player'])[0]
    rush_df.loc[index, 'Player*'] = playerName

    ##
    rush_df.loc[index, 'PlayerYearTm*'] = playerName + str(row['Year']) + str(row['Tm'])
    ##
    
    # try to set position to uppercase
    try:
        rush_df.loc[index, 'Pos*'] = re.findall(r"[A-Z|a-z]+", row['Pos'])[0].upper()
    # if position is nan...
    except:
        # try to use the player name to get his position from the espn table
        try:
            rush_df.loc[index, 'Pos*'] = espn_rush_df.loc[(espn_rush_df['Name*'] == playerName)]['POS'].values[0]
        # otherwise set the adjusted position value to be nan
        except:
            rush_df.loc[index, 'Pos*'] = np.nan
# remove the rows where the adjusted position value is nan
rush_df = rush_df.dropna(subset=['Pos*'])
rush_df = rush_df.reset_index(drop=True)
rush_df

,Unnamed: 0,Rk,Player,Tm,Age,Pos,G,GS,Att,Yds,TD,1D,Lng,Y/A,Y/G,Fmb,Year,Player*,PlayerYearTm*,Pos*
0,0,1,Eddie George*+,TEN,27,RB,16,16,403,1509,14,78,35,3.7,94.3,5,2000,Eddie George,Eddie George2000TEN,RB
1,1,2,Edgerrin James*,IND,22,RB,16,16,387,1709,13,100,30,4.4,106.8,5,2000,Edgerrin James,Edgerrin James2000IND,RB
2,2,3,Jerome Bettis,PIT,28,RB,16,16,355,1341,8,72,30,3.8,83.8,1,2000,Jerome Bettis,Jerome Bettis2000PIT,RB
3,3,4,James Stewart,DET,29,RB,16,16,339,1184,10,66,34,3.5,74.0,4,2000,James Stewart,James Stewart2000DET,RB
4,4,5,Stephen Davis*,WAS,26,RB,15,15,332,1318,11,72,50,4.0,87.9,4,2000,Stephen Davis,Stephen Davis2000WAS,RB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6692,6908,330,Danny Vitale,GNB,26,RB,15,4,1,3,0,0,3,3.0,0.2,0,2019,Danny Vitale,Danny Vitale2019GNB,RB
6693,6909,331,Greg Ward,PHI,24,WR,7,3,1,5,0,0,5,5.0,0.7,0,2019,Greg Ward,Greg Ward2019PHI,WR
6694,6910,332,Trevon Wesco,NYJ,24,TE,16,1,1,2,0,1,2,2.0,0.1,0,2019,Trevon Wesco,Trevon Wesco2019NYJ,TE
6695,6911,333,Mike Williams,LAC,25,WR,15,15,1,2,0,0,2,2.0,0.1,0,2019,Mike Williams,Mike Williams2019LAC,WR
6696,6912,334,Jarius Wright,CAR,30,WR,16,9,1,-7,0,0,-7,-7.0,-0.4,0,2019,Jarius Wright,Jarius Wright2019CAR,WR

In [16]:
originalColumns = ['Att', 'Yds', 'TD', '1D',
       'Lng', 'Y/A', 'Y/G', 'Fmb']
adjustedColumns_Rush = []
for col in originalColumns:
    adjustedColumns_Rush.append('Rush_'+ col)
rush_df = rush_df.rename(columns=dict(zip(originalColumns,adjustedColumns_Rush)))
rush_df = rush_df.reset_index(drop=True)
rush_df

,Unnamed: 0,Rk,Player,Tm,Age,Pos,G,GS,Rush_Att,Rush_Yds,Rush_TD,Rush_1D,Rush_Lng,Rush_Y/A,Rush_Y/G,Rush_Fmb,Year,Player*,PlayerYearTm*,Pos*
0,0,1,Eddie George*+,TEN,27,RB,16,16,403,1509,14,78,35,3.7,94.3,5,2000,Eddie George,Eddie George2000TEN,RB
1,1,2,Edgerrin James*,IND,22,RB,16,16,387,1709,13,100,30,4.4,106.8,5,2000,Edgerrin James,Edgerrin James2000IND,RB
2,2,3,Jerome Bettis,PIT,28,RB,16,16,355,1341,8,72,30,3.8,83.8,1,2000,Jerome Bettis,Jerome Bettis2000PIT,RB
3,3,4,James Stewart,DET,29,RB,16,16,339,1184,10,66,34,3.5,74.0,4,2000,James Stewart,James Stewart2000DET,RB
4,4,5,Stephen Davis*,WAS,26,RB,15,15,332,1318,11,72,50,4.0,87.9,4,2000,Stephen Davis,Stephen Davis2000WAS,RB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6692,6908,330,Danny Vitale,GNB,26,RB,15,4,1,3,0,0,3,3.0,0.2,0,2019,Danny Vitale,Danny Vitale2019GNB,RB
6693,6909,331,Greg Ward,PHI,24,WR,7,3,1,5,0,0,5,5.0,0.7,0,2019,Greg Ward,Greg Ward2019PHI,WR
6694,6910,332,Trevon Wesco,NYJ,24,TE,16,1,1,2,0,1,2,2.0,0.1,0,2019,Trevon Wesco,Trevon Wesco2019NYJ,TE
6695,6911,333,Mike Williams,LAC,25,WR,15,15,1,2,0,0,2,2.0,0.1,0,2019,Mike Williams,Mike Williams2019LAC,WR
6696,6912,334,Jarius Wright,CAR,30,WR,16,9,1,-7,0,0,-7,-7.0,-0.4,0,2019,Jarius Wright,Jarius Wright2019CAR,WR

<h3>Receiving</h3>

In [15]:
rec_df.columns

Index(['Unnamed: 0', 'Rk', 'Player', 'Tm', 'Age', 'Pos', 'G', 'GS', 'Tgt',
       'Rec', 'Ctch%', 'Yds', 'Y/R', 'TD', '1D', 'Lng', 'Y/Tgt', 'R/G', 'Y/G',
       'Fmb', 'Year'],
      dtype='object')

In [17]:
# Remove header rows
rec_df = rec_df[rec_df['Rk'] != 'Rk']

In [19]:
for index, row in rec_df.iterrows():
    playerName = re.findall(r"[A-Z|a-z|\s|'|.]+", row['Player'])[0]
    rec_df.loc[index, 'Player*'] = playerName
    
    ##
    rec_df.loc[index, 'PlayerYearTm*'] = playerName + str(row['Year']) + str(row['Tm'])
    ##
    
    # try to set position to uppercase
    try:
        rec_df.loc[index, 'Pos*'] = re.findall(r"[A-Z|a-z]+", row['Pos'])[0].upper()
    # if position is nan...
    except:
        # try to use the player name to get his position from the espn table
        try:
            rec_df.loc[index, 'Pos*'] = espn_rec_df.loc[(espn_rec_df['Name*'] == playerName)]['POS'].values[0]
        # otherwise set the adjusted position value to be nan
        except:
            rec_df.loc[index, 'Pos*'] = np.nan
# remove the rows where the adjusted position value is nan
rec_df = rec_df.dropna(subset=['Pos*'])
rec_df = rec_df.reset_index(drop=True)
rec_df

,Unnamed: 0,Rk,Player,Tm,Age,Pos,G,GS,Tgt,Rec,...,1D,Lng,Y/Tgt,R/G,Y/G,Fmb,Year,Player*,PlayerYearTm*,Pos*
0,0,1,Marvin Harrison*,IND,28,WR,16,16,169,102,...,70,78,8.4,6.4,88.3,2,2000,Marvin Harrison,Marvin Harrison2000IND,WR
1,1,2,Muhsin Muhammad,CAR,27,WR,16,16,156,102,...,62,36,7.6,6.4,73.9,1,2000,Muhsin Muhammad,Muhsin Muhammad2000CAR,WR
2,2,3,Ed McCaffrey,DEN,32,WR,16,16,149,101,...,69,61,8.8,6.3,82.3,0,2000,Ed McCaffrey,Ed McCaffrey2000DEN,WR
3,3,4,Rod Smith*,DEN,30,WR,16,16,173,100,...,77,49,9.3,6.3,100.1,1,2000,Rod Smith,Rod Smith2000DEN,WR
4,4,5,Terrell Owens*+,SFO,27,WR,14,13,146,97,...,65,69,9.9,6.9,103.6,3,2000,Terrell Owens,Terrell Owens2000SFO,WR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9121,519,504,Jamize Olawale,DAL,30,fb,16,5,2,0,...,0,0,0.0,0.0,0.0,NaN,2019,Jamize Olawale,Jamize Olawale2019DAL,FB
9122,520,505,Jace Sternberger,GNB,23,te,6,1,1,0,...,0,0,0.0,0.0,0.0,NaN,2019,Jace Sternberger,Jace Sternberger2019GNB,TE
9123,521,506,Taywan Taylor,CLE,24,wr,3,1,1,0,...,0,0,0.0,0.0,0.0,0,2019,Taywan Taylor,Taywan Taylor2019CLE,WR
9124,522,507,Tyrod Taylor,LAC,30,qb,8,0,1,0,...,0,0,0.0,0.0,0.0,0,2019,Tyrod Taylor,Tyrod Taylor2019LAC,QB
9125,523,508,Chad Williams,IND,25,wr,1,0,1,0,...,0,0,0.0,0.0,0.0,NaN,2019,Chad Williams,Chad Williams2019IND,WR

In [20]:
originalColumns = ['Tgt', 'Rec', 'Ctch%',
       'Yds', 'Y/R', 'TD', '1D', 'Lng', 'Y/Tgt', 'R/G', 'Y/G', 'Fmb']
adjustedColumns_Rec = []
for col in originalColumns:
    adjustedColumns_Rec.append('Rec_'+ col)
rec_df = rec_df.rename(columns=dict(zip(originalColumns,adjustedColumns_Rec)))
rec_df = rec_df.reset_index(drop=True)
rec_df

,Unnamed: 0,Rk,Player,Tm,Age,Pos,G,GS,Rec_Tgt,Rec_Rec,...,Rec_1D,Rec_Lng,Rec_Y/Tgt,Rec_R/G,Rec_Y/G,Rec_Fmb,Year,Player*,PlayerYearTm*,Pos*
0,0,1,Marvin Harrison*,IND,28,WR,16,16,169,102,...,70,78,8.4,6.4,88.3,2,2000,Marvin Harrison,Marvin Harrison2000IND,WR
1,1,2,Muhsin Muhammad,CAR,27,WR,16,16,156,102,...,62,36,7.6,6.4,73.9,1,2000,Muhsin Muhammad,Muhsin Muhammad2000CAR,WR
2,2,3,Ed McCaffrey,DEN,32,WR,16,16,149,101,...,69,61,8.8,6.3,82.3,0,2000,Ed McCaffrey,Ed McCaffrey2000DEN,WR
3,3,4,Rod Smith*,DEN,30,WR,16,16,173,100,...,77,49,9.3,6.3,100.1,1,2000,Rod Smith,Rod Smith2000DEN,WR
4,4,5,Terrell Owens*+,SFO,27,WR,14,13,146,97,...,65,69,9.9,6.9,103.6,3,2000,Terrell Owens,Terrell Owens2000SFO,WR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9121,519,504,Jamize Olawale,DAL,30,fb,16,5,2,0,...,0,0,0.0,0.0,0.0,NaN,2019,Jamize Olawale,Jamize Olawale2019DAL,FB
9122,520,505,Jace Sternberger,GNB,23,te,6,1,1,0,...,0,0,0.0,0.0,0.0,NaN,2019,Jace Sternberger,Jace Sternberger2019GNB,TE
9123,521,506,Taywan Taylor,CLE,24,wr,3,1,1,0,...,0,0,0.0,0.0,0.0,0,2019,Taywan Taylor,Taywan Taylor2019CLE,WR
9124,522,507,Tyrod Taylor,LAC,30,qb,8,0,1,0,...,0,0,0.0,0.0,0.0,0,2019,Tyrod Taylor,Tyrod Taylor2019LAC,QB
9125,523,508,Chad Williams,IND,25,wr,1,0,1,0,...,0,0,0.0,0.0,0.0,NaN,2019,Chad Williams,Chad Williams2019IND,WR

## Merge

In [21]:
adjustedColumns_Rush.append("PlayerYearTm*")
adjustedColumns_Pass.append("PlayerYearTm*")
adjustedColumns_Rec.append("PlayerYearTm*")

rush_rec_pass_df = rush_df.merge(rec_df[adjustedColumns_Rec], on='PlayerYearTm*', how='left').merge(pass_df[adjustedColumns_Pass], on='PlayerYearTm*', how='left')
# .drop_duplicates(subset=['PlayerYearTm*'])
# 
pass_rush_rec_df = pass_df.merge(rush_df[adjustedColumns_Rush], on='PlayerYearTm*', how='left').merge(rec_df[adjustedColumns_Rec], on='PlayerYearTm*', how='left')
# .drop_duplicates(subset=['PlayerYearTm*'])
# 
rec_rush_pass_df = rec_df.merge(rush_df[adjustedColumns_Rush], on='PlayerYearTm*', how='left').merge(pass_df[adjustedColumns_Pass], on='PlayerYearTm*', how='left')
# .drop_duplicates(subset=['PlayerYearTm*'])
#

In [22]:
rush_rec_pass_df

,Unnamed: 0,Rk,Player,Tm,Age,Pos,G,GS,Rush_Att,Rush_Yds,...,Pass_Y/G,Pass_Rate,Pass_QBR,Pass_Sk,Pass_Yds.1,Pass_Sk%,Pass_NY/A,Pass_ANY/A,Pass_4QC,Pass_GWD
0,0,1,Eddie George*+,TEN,27,RB,16,16,403,1509,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,Edgerrin James*,IND,22,RB,16,16,387,1709,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3,Jerome Bettis,PIT,28,RB,16,16,355,1341,...,0.0,0.0,NaN,0,0,0,0.00,-22.50,NaN,NaN
3,3,4,James Stewart,DET,29,RB,16,16,339,1184,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,5,Stephen Davis*,WAS,26,RB,15,15,332,1318,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6692,6908,330,Danny Vitale,GNB,26,RB,15,4,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6693,6909,331,Greg Ward,PHI,24,WR,7,3,1,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6694,6910,332,Trevon Wesco,NYJ,24,TE,16,1,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6695,6911,333,Mike Williams,LAC,25,WR,15,15,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6696,6912,334,Jarius Wright,CAR,30,WR,16,9,1,-7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df = pd.concat([rush_rec_pass_df, pass_rush_rec_df, rec_rush_pass_df])

In [24]:
df = df.reset_index(drop=True)
df

,Unnamed: 0,Rk,Player,Tm,Age,Pos,G,GS,Rush_Att,Rush_Yds,...,Pass_Rate,Pass_QBR,Pass_Sk,Pass_Yds.1,Pass_Sk%,Pass_NY/A,Pass_ANY/A,Pass_4QC,Pass_GWD,QBrec
0,0,1,Eddie George*+,TEN,27,RB,16,16,403,1509,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,Edgerrin James*,IND,22,RB,16,16,387,1709,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3,Jerome Bettis,PIT,28,RB,16,16,355,1341,...,0.0,NaN,0,0,0,0.00,-22.50,NaN,NaN,NaN
3,3,4,James Stewart,DET,29,RB,16,16,339,1184,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,5,Stephen Davis*,WAS,26,RB,15,15,332,1318,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18089,519,504,Jamize Olawale,DAL,30,fb,16,5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18090,520,505,Jace Sternberger,GNB,23,te,6,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18091,521,506,Taywan Taylor,CLE,24,wr,3,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18092,522,507,Tyrod Taylor,LAC,30,qb,8,0,10,7,...,120.1,3.3,0,0,0,5.50,8.83,NaN,NaN,NaN
18093,523,508,Chad Williams,IND,25,wr,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df = df.drop_duplicates(subset=['PlayerYearTm*'])
df = df.reset_index(drop=True)
df

,Unnamed: 0,Rk,Player,Tm,Age,Pos,G,GS,Rush_Att,Rush_Yds,...,Pass_Rate,Pass_QBR,Pass_Sk,Pass_Yds.1,Pass_Sk%,Pass_NY/A,Pass_ANY/A,Pass_4QC,Pass_GWD,QBrec
0,0,1,Eddie George*+,TEN,27,RB,16,16,403,1509,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2,Edgerrin James*,IND,22,RB,16,16,387,1709,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3,Jerome Bettis,PIT,28,RB,16,16,355,1341,...,0.0,NaN,0,0,0,0.00,-22.50,NaN,NaN,NaN
3,3,4,James Stewart,DET,29,RB,16,16,339,1184,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,5,Stephen Davis*,WAS,26,RB,15,15,332,1318,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11234,518,503,David Long,LAR,21,db,8,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11235,519,504,Jamize Olawale,DAL,30,fb,16,5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11236,520,505,Jace Sternberger,GNB,23,te,6,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11237,521,506,Taywan Taylor,CLE,24,wr,3,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11238,523,508,Chad Williams,IND,25,wr,1,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
nanDict = {np.nan: 0}
for col in df.columns:
    df[col] = df[col].replace(nanDict)
df.isna().sum()

Unnamed: 0       0
Rk               0
Player           0
Tm               0
Age              0
Pos              0
G                0
GS               0
Rush_Att         0
Rush_Yds         0
Rush_TD          0
Rush_1D          0
Rush_Lng         0
Rush_Y/A         0
Rush_Y/G         0
Rush_Fmb         0
Year             0
Player*          0
PlayerYearTm*    0
Pos*             0
Rec_Tgt          0
Rec_Rec          0
Rec_Ctch%        0
Rec_Yds          0
Rec_Y/R          0
Rec_TD           0
Rec_1D           0
Rec_Lng          0
Rec_Y/Tgt        0
Rec_R/G          0
Rec_Y/G          0
Rec_Fmb          0
Pass_Cmp         0
Pass_Att         0
Pass_Cmp%        0
Pass_Yds         0
Pass_TD          0
Pass_TD%         0
Pass_Int         0
Pass_Int%        0
Pass_1D          0
Pass_Lng         0
Pass_Y/A         0
Pass_AY/A        0
Pass_Y/C         0
Pass_Y/G         0
Pass_Rate        0
Pass_QBR         0
Pass_Sk          0
Pass_Yds.1       0
Pass_Sk%         0
Pass_NY/A        0
Pass_ANY/A       0
Pass_4QC         0
Pass_GWD         0
QBrec            0
dtype: int64

In [27]:
df

,Unnamed: 0,Rk,Player,Tm,Age,Pos,G,GS,Rush_Att,Rush_Yds,...,Pass_Rate,Pass_QBR,Pass_Sk,Pass_Yds.1,Pass_Sk%,Pass_NY/A,Pass_ANY/A,Pass_4QC,Pass_GWD,QBrec
0,0,1,Eddie George*+,TEN,27,RB,16,16,403,1509,...,0,0,0,0,0,0,0,0,0,0
1,1,2,Edgerrin James*,IND,22,RB,16,16,387,1709,...,0,0,0,0,0,0,0,0,0,0
2,2,3,Jerome Bettis,PIT,28,RB,16,16,355,1341,...,0.0,0,0,0,0,0.00,-22.50,0,0,0
3,3,4,James Stewart,DET,29,RB,16,16,339,1184,...,0,0,0,0,0,0,0,0,0,0
4,4,5,Stephen Davis*,WAS,26,RB,15,15,332,1318,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11234,518,503,David Long,LAR,21,db,8,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11235,519,504,Jamize Olawale,DAL,30,fb,16,5,0,0,...,0,0,0,0,0,0,0,0,0,0
11236,520,505,Jace Sternberger,GNB,23,te,6,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11237,521,506,Taywan Taylor,CLE,24,wr,3,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11238,523,508,Chad Williams,IND,25,wr,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Split by position

In [28]:
qbs_df = df.loc[df['Pos*'] == 'QB'].reset_index(drop=True)
rbs_df = df.loc[df['Pos*'] == 'RB'].reset_index(drop=True)
wrs_df = df.loc[df['Pos*'] == 'WR'].reset_index(drop=True)
tes_df = df.loc[df['Pos*'] == 'TE'].reset_index(drop=True)

In [29]:
qbs_df

,Unnamed: 0,Rk,Player,Tm,Age,Pos,G,GS,Rush_Att,Rush_Yds,...,Pass_Rate,Pass_QBR,Pass_Sk,Pass_Yds.1,Pass_Sk%,Pass_NY/A,Pass_ANY/A,Pass_4QC,Pass_GWD,QBrec
0,42,42,Daunte Culpepper*,MIN,23,QB,16,16,89,470,...,98.0,0,34,181,6.7,7.39,7.28,3,4,0
1,43,43,Rich Gannon*+,OAK,35,QB,16,16,89,529,...,92.4,0,28,124,5.6,6.60,6.73,3,4,0
2,45,45,Donovan McNabb*,PHI,24,QB,16,16,86,629,...,77.8,0,45,262,7.3,5.05,4.79,2,3,0
3,48,48,Kordell Stewart,PIT,28,QB,16,11,78,436,...,73.6,0,30,150,9.4,5.36,4.92,1,1,0
4,52,52,Shaun King,TAM,23,QB,16,16,73,353,...,75.8,0,37,240,8,5.44,4.95,3,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1516,480,466,Joe Webb,CAR,30,qb,14,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1517,324,315,Logan Thomas,BUF,26,qb,12,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1518,393,382,Tanner Gentry,CHI,23,qb,4,3,0,0,...,0,0,0,0,0,0,0,0,0,0
1519,440,427,Joe Webb,HOU,32,qb,16,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1520,228,222,Logan Thomas,DET,28,qb,16,3,0,0,...,0,0,0,0,0,0,0,0,0,0

## Save locally for use in modeling step

In [30]:
# qbs_df.to_csv(r"C:\Users\andre\OneDrive\Desktop\USC\DSCI550\Project\Data\2000-2019_PositionData\qbs.csv")
# wrs_df.to_csv(r"C:\Users\andre\OneDrive\Desktop\USC\DSCI550\Project\Data\2000-2019_PositionData\wrs.csv")
# rbs_df.to_csv(r"C:\Users\andre\OneDrive\Desktop\USC\DSCI550\Project\Data\2000-2019_PositionData\rbs.csv")
# tes_df.to_csv(r"C:\Users\andre\OneDrive\Desktop\USC\DSCI550\Project\Data\2000-2019_PositionData\tes.csv")